<!DOCTYPE html>{% assign categories = page.categories | remove: '["blog", "' | remove: '"]' %}
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link type="application/atom+xml" rel="alternate" href="http://senorcontento.github.io/blog/atom.xml" title="Señor Contento's Blog" />
    <link type="application/atom+xml" rel="alternate" href="http://senorcontento.github.io/blog/{{ categories }}/atom.xml" title="Señor Contento's Blog - {{ categories }}" />

    <link rel="search" type="application/opensearchdescription+xml" href="/sitedata/opensearch.xml" title="Señor Contento's Blog">
    <link rel="shortcut icon" type="image/jpg" href="/sitedata/images/favicon.jpg"/>   
    <link rel="apple-touch-icon" href="/sitedata/images/favicon.jpg"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--jQuery Script-->

    <!--If you use max-width instead of max-device-width, you can test what the mobile formatting looks like by minimizing the window-->
    <link id="mobile-style" rel="stylesheet" type="text/css" href="/sitedata/stylesheets/mobile-stylesheet.css" media="screen and (max-device-width: 800px)">
    <link id="pc-style" rel="stylesheet" type="text/css" href="/sitedata/stylesheets/stylesheet.css" media="screen and (min-device-width: 800px)">
    <link id="pygment-default" rel="stylesheet" type="text/css" href="/sitedata/stylesheets/pygment_trac.css" media="screen">

    <script src="/sitedata/javascripts/mobile-tracking.js"></script>
    <!--Allows me to detect if the site is being visited by a mobile device - Allows user to override normal settings-->

    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <!--Script from https://www.mathjax.org which kramdown uses to produce Math equations without needing to pregenerate images-->

    <script src="/sitedata/bower_components/webcomponentsjs/webcomponents.js"></script>
    <!--Polyfill Web Components-->

    <link rel="import" href="/sitedata/shadowdom.html">
    <!--Import code for allowing custom html using ShadowDom-->

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          elements: document.getElementsByTagName("body")
        });
        MathJax.Ajax.config.path["Contrib"] = "/sitedata/javascripts";
        MathJax.Hub.config.extensions.push("[Contrib]/math-tex-element.js");
    </script>
    <!--This fixes the fact that Custom HTML elements in ShadowDom breaks MathJax.-->

    <title>{{ page.title }} - Señor Contento</title>
  </head>

  <body>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N5X5SR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script src="/sitedata/javascripts/analytics-tracking.js"></script>
    <!--This code will allow me to see how people use my site-->

    <script src="https://raw.githubusercontent.com/lunametrics/youtube-google-analytics/master/lunametrics-youtube.gtm.js" id="gtm-youtube-tracking"></script>
    <!--This is used to see how well YouTube videos are at capturing people's attention-->

    <header>
      <div class="container">
        <h1>{{ page.title }}</h1>
        <h2>{{ categories | capitalize }} - {{ page.date | date_to_string }}</h2>

        <nav><section id="general">
          <a href="/blog/" class="btn btn-github">Blog</a>
          <a href="/contact.html" class="btn btn-github">Contact Me</a>
          <a href="/index.html" class="btn btn-github">Site Home</a>
        </section>

        <section id="developer">
          <a href="/developers.html" class="btn btn-github">View Developers and Organizations</a>
          <a href="/repositories.html" class="btn btn-github">View Repositories</a>
        </section></nav>
      </div>
    </header>


    <div class="container">
      <div class="post">
      {{ content }}
      </div>
    </div>

    <br><br>
    <hr><footer><a class="inline" href="https://app.pith.li/create?url={{page.site-url}}{{page.url}}">Highlight Page</a> <a class="inline" href="{{site.github.repository_url}}/blob/{{page.branch}}/{{page.path}}">View This Page on Github</a> <h5 class="inline">&copy; 2015 CubeTech, LLC</h5></footer>
    <!--I have discovered the <hr> tag allows the bar that you would see for the footer without css configuration. Do note, there is no </hr> closing tag, just an opening tag-->
    <!--For Future Reference, the nav tag and footer tag do absolutely nothing unless a reader, like one for the blind, uses it or if I use css to make a format for it-->
  </body>
</html>
